#vueling {
    text-align: center;
    background-color: yellow;
    text-align: centre;
    font-size: 40px;
}

#date {
    text-align: center;
    background-color: yellow;
    text-align: left;
    font-size: 20px;
}

#menudiv {
    text-align: left;
    background-color: orange;
    /*  overflow: hidden; */

}

.menuoption {
    text-align: left;
    display: inline-block;
    background-color: orange;
    font-size: 20px;
}


.formulario {
    text-align: left;
    display: none;
    margin: 0px;
    font-size: 10px;
    border: 1px solid black;
    position: absolute;
}

#formulario_login,
#formulario_registro,
#formulario_reservation {

    display: none;

}

.mensaje {

    display: none;
    color: red;
    font-size: 15px;

}

#submit_login_form,
#submit_register_form {

    background-color: orange;
    font-size: 20px;
}

#submit_passengers_date {
    /* //css no funciona para este button */

    background-color: orange;
    font-size: 40px;
}

fieldset {

    background-color: grey;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    max-width: 500px;
}

form {

    background-color: grey;

}


#header {
    color: black;
    font-size: 10px;
    font-weight: bold;
}

label {
    font-size: 15px;
    color: black;
}

button {
    color: black;
    background-color: white;
    text-align: center;

}

.formulario {
    display: block;
}

#info_origenes,
#info_destinos {


    display: inline-block;
} 

#information {
    font-size: 15px;

} 

#logout_button{


    display: none;
} 